
/* assuming IE 8+ not including 8 */

.septa-fare-widget {
  border: .2rem solid lightgray;
  font-family: sans-serif;
  width: 100%;
  min-width: 300px; /* min width i want the widget to have */
}

.septa-fare-widget * {
  text-align: center;
}

.septa-fare-widget p {
  margin: 0;
}

.septa-fare-widget .title-section {
  background-color: gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  height: 2rem;
}

.septa-fare-widget .title-logo {
  width: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.septa-fare-widget .title-logo img {
  height: 100%;
  width: 100%;
  text-align: right;
}

.septa-fare-widget .title-brand {
  height: 100%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding-left:1rem;
}

.septa-fare-widget .form-section {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: .1rem solid lightgray;
}

.septa-fare-widget .form-section:last-child {
  border-bottom: none;
}

.septa-fare-widget .result-section {
  background-color: grey;
  color: white;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.septa-fare-widget .cost-display {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1rem;
}

.septa-fare-widget .hint-text {
  font-size: .7rem;
  font-weight: 200;
  margin-top: 1rem;
  color: grey;
}

.septa-fare-widget .dropdown-select, .number-input, .radio-form {
    display: inline-block;
    margin-top: 1rem;
}

.septa-fare-widget .radio-form div {
    margin-top: .8rem;
    font-size: .9rem;
    text-align: left;
}

.septa-fare-widget input[type=number],select {
  padding: .2rem;
  border-radius: .2rem;
  border: 1px solid lightgray;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .septa-fare-widget p, .dropdown-select, .number-input, .radio-form {
      display: inline-block;
      margin-top: 0;
      margin-left: 1rem;
  }

  .septa-fare-widget .radio-form div {
      display: inline;
      margin-top: 0;
      margin-left: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .septa-fare-widget .form-section-container {
    display: table;
  }

  .septa-fare-widget .form-section {
    display: inline-block;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-right: .1rem solid lightgray;
    border-bottom: none;
    display: table-cell;
    vertical-align: top;
    width: 20%;
    height: 100%;
  }

  .septa-fare-widget .form-section:last-child {
    border-right:none;
  }

  .septa-fare-widget .radio-form div {
    margin-left: 1rem;
  }
}
